html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-home,
app-profile {
    width: 100%;
    padding: 20px;
}

/* app-dialog{
    display: flex !important;
    flex-direction: column !important;
}
 */
